---

const {

  title = 'new site',
  description = 'development',
  permalink = 'h.com',

} = Astro.props

---

<!-- Global Metadata -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" sizes="180x180" href="/def/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/def/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/def/favicon-16x16.png" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content="/def/preview.png" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content="/def/preview.png" />

<!-- Styles -->
<link rel="stylesheet" type="text/css" href={Astro.resolve('../../styles/global.scss')}>

<script src="/def/supports.js" defer></script>
