---
import BaseCategory from 'base:BaseCategory.astro'
import Back from 'blocks:Back.astro'
import Description from 'elements:Description.astro'
import data from '../../data/money.json'

export async function getStaticPaths() {
  return [
    { params: { lang: 'en' },  },
    { params: { lang: 'ru' },  },
    { params: { lang: 'by' },  },
  ]
}

const { lang } = Astro.request.params

const IDsCounter = {}
const momentsIDs = data.map(value => {

  let name = value.yearStart.en + (value.yearEnd && '-' + value.yearEnd.en || '')
  name = name.toLowerCase().replace(' ', '')
  name += IDsCounter[name] ? '-' + IDsCounter[name] : ''

  if(!IDsCounter[name]) IDsCounter[name] = 1
  IDsCounter[name]++
  return name

})

---

<BaseCategory lang={lang}>

  {
    data.map((value, momentID) =>
      <div class={`moment moment_${momentsIDs[momentID]}`}>
      <div class="moment__images">
        {
          value.images.map((image) =>
            <span>{image.toString()}</span>
          )
        }
      </div>
      <Description
        yearStart={value.yearStart[lang]}
        yearEnd={value.yearEnd && value.yearEnd[lang]}
        description={value.description[lang]}
      ></Description>
      </div>
    )
  }

  <Back lang={lang}/>

</BaseCategory>